# nRF52840 MDK USB Dongle board configuration

# Copyright (c) 2022 Nikola Trifunovic
# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_REVOLUTEWIRELESS
	bool "Revolutewireless"
	depends on SOC_NRF52833_QIAA

