# SPDX-License-Identifier: Apache-2.0


# SPDX-License-Identifier: Apache-2.0




CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y


CONFIG_BOARD_REVOLUTEWIRELESS=y

# Enable Logging
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_LOG=n

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y
CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_BUILD_OUTPUT_UF2=y

# additional board options
CONFIG_GPIO_AS_PINRESET=y
# CONFIG_NFCT_PINS_AS_GPIOS=y

#i2c
CONFIG_SENSOR=y
CONFIG_I2C=y
CONFIG_AMS_AS5600=y
# CONFIG_NRFX_TWI0=y



# USB
#CONFIG_USB=y
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_CDC_ACM=y
CONFIG_USB_DEVICE_VID=0x1915
CONFIG_USB_DEVICE_PID=0x9100
CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=y
CONFIG_UART_INTERRUPT_DRIVEN=y 
CONFIG_USB_DEVICE_PRODUCT="Revolutewrls"
CONFIG_USB_DEVICE_MANUFACTURER="Tongtong.inc"

# CONFIG_USB=y
# CONFIG_USB_DEVICE_STACK=y
# CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=y
# CONFIG_USB_DEVICE_PRODUCT="Revolute"
# CONFIG_USB_DEVICE_MANUFACTURER="Nordic Semiconductor"
# CONFIG_USB_DEVICE_VID=0x1915
# CONFIG_USB_DEVICE_PID=0x9100
# CONFIG_USB_CDC_ACM=y