


if BOARD_DIVISIONR

config ZMK_KEYBOARD_NAME
	default "Division"

config ZMK_SPLIT
    default y

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_DIVISIONR
